:root {
  --title-font: titillium;
  --title-bold-font: titillium bold;
  --title-light-font: titillium light;
  --body-font: PT Sans;
  --subtitle-font: bebas bold;
  --bg-color: #2a2a2a;
  --grey-color-rgb: 52, 52, 52;
  --red-text-color: #de5e60;
  --red-text-rgb: 222, 94, 96;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: titillium;
  src: url(TitilliumText25L004.otf);
}
@font-face {
  font-family: titillium light;
  src: url(TitilliumText25L005.otf);
}

@font-face {
  font-family: titillium bold;
  src: url(TitilliumText25L001.otf);
}
@font-face {
  font-family: bebas;
  src: url(BebasNeue\ Regular.otf);
}
@font-face {
  font-family: bebas bold;
  src: url(BebasNeue\ Bold.otf);
}

html {
  width:100%;
  min-width:100%
}

body {
  font-family: var(--body-font);
  text-rendering: optimizeLegibility;
  max-height: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: calc(18px + 0.25vw);
  line-height: calc(1.5em + 0.2vw);
  display:block;
}

/* start general container */

.yesm-container {
  max-height: 100%;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 3em 1fr 5em;
}

/* end general container */

/* start header */

.header {
  display: grid;
  grid-template-areas: "main-link . nav";
  grid-template-columns: 1fr auto;
  background-color: black; 
  position: relative;
}

.title-header {
  position: absolute;
  top: .3em;
  left: .5em;
  color: white;
  font-variant: small-caps;
  font-family: var(--title-bold-font);
}

.title-header .big {
  font-size: 1.6rem;
}
.title-header .small {
  font-size: 1.2rem;
}

.title-header .sub {
  top: .8em;
  left: 2em;
  font-size: 1.2rem;
  position: absolute;
}
.top-nav-link:link {
  color: white;
  text-decoration: none;
  transition: color 250ms cubic-bezier(.215,.61,.355,1);
}

.top-nav-link:visited {
  color: rgba(180, 180, 180, 1);
}

.top-nav-link:hover {
  color: rgba(var(--red-text-rgb), .8);
}

.top-nav-link:active, .top-nav-button:active {
  font-weight: bolder;
  color: rgba(var(--red-text-rgb), 1);
}

.top-nav-link:focus {
  outline: none;
  border-style: solid;
  border-color: rgba(255, 255, 255, .7);
  border-size: 1px;
  border-width: 1px;
  height: 100%;
}

.current {
  pointer-events: none;
  cursor: default;
  color: var(--red-text-color) !important;
  font-weight: 700;
}

.top-nav-button {
  background-color: inherit;
  border: none;
  color: white;
  font-family: var(--body-font);
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 .2em;
  transition: color 250ms cubic-bezier(.215,.61,.355,1);
}

.top-nav-button:focus {
  outline: none;
  border-style: solid;
  border-color: rgba(255, 255, 255, .7);
  border-size: 1px;
  border-width: 1px;
  height: 100%;
}
.top-nav-button:hover {
  color: rgba(var(--red-text-rgb), .8);
}

.top-nav {
  display: flex;
  align-items: center;
  grid-area: nav;
}

.top-nav-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-nav-li {
  padding-right: 2em;
  list-style-type: none;
  font-family: var(--body-font);
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
}
/* end header */

/* start skip-title */

.skip-title {
  background-color: var(--bg-color);
  display: grid;
  grid-template-areas: "button1 . button2";
  grid-template-columns: 1fr;
}

.skip-title-button.button1 {
  grid-area: button1;
}

.skip-title-button.button2 {
  grid-area: button2;
}

.skip-title-button {
  cursor: pointer;
  transform: rotate(90deg);
  color: white;
  font-size: 1.2em;
  background-color: black;
  border: none;
  width: 2em;
  height: 2em;
  font-family: var(--title-font);
  transition: color 250ms cubic-bezier(.215,.61,.355,1);
}

.skip-title-button:hover {
  color: var(--red-text-color);
}

.skip-title-button:focus {
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-size: 1px;
}

.skip-title-button:active {
  outline: none;
  border-style: solid;
  border-color: var(--red-text-color);
  border-size: 1px;
}

/* end skip-title */

/* start title */
.title-wrapper {
  position: relative;
  height: calc(100vh - 2.8em);
  width: 100vw;
  display: grid;
  background-image: url("city.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.title-svg {   
  width: 50%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media(max-width: 800px) {
.title-svg {   
  width: 70%;
  }
}
@media(max-width: 600px) {
.title-svg {   
  width: 80%;
  }
}
@media(max-width: 400px) {
.title-svg {   
  width: 90%;
  }
}

.title {
  font-family: var(--title-font);
  fill: white;
  stroke: white;
  stroke-width: .4px;
}
.big {
  font-size: 8px;
}
.small {
  font-size: 7px;
}

.subtitle {
  --red: #ee4342;
  font-family: var(--subtitle-font);
  fill: var(--red);
  letter-spacing: .1px;
  font-size: 5px;
}

.shadow {
  --grey: #343434;
  fill: var(--grey);
  stroke: var(--grey);
  stroke-width: .5px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* end title */

/* start main */

main {
  padding: 2em 0;
  display: grid;
  grid-row-gap: 1.5em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
main section:nth-child(4), section:first-child {
  padding: 0 1em 0 2em;
}
main section:nth-child(3) {
  padding: 0 2em 0 1em;
}

main section {
  display: grid;
  grid-template-columns: 3.3em auto;
  grid-template-rows: 1fr; 
  padding: 0 1em;
}

.section-text-wrapper {
  font-size: 1.1rem;
  color: rgba(0,0,0, .7);
  margin-top: .6em;
}
main section h2 {
  font-weight: 600;
  color: rgba(0, 0, 0, .7);
}

.section-subhead {
  display: block;
  text-transform: uppercase;
  letter-spacing: -.5px;
  font-family: var(--title-bold-font);
  font-size: 1.5rem;
  line-height: 1;
}

.section-icon {
  --grey: #686a6d;
  stroke: none;
  fill: var(--grey);
  transition: fill 250ms cubic-bezier(.215,.61,.355,1);
}

.section-icon:hover {
  fill:var(--red-text-color);
}

.heading-icon {
  align-self: start;
  width: 2.8em;
  margin-top: -2.5em;
  height: auto;
  pointer-events: fill;
  cursor: pointer;
}

.icon-internals {
  stroke: black;
  stroke-width: 1px;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: square;
}

.icon-details {
  stroke: black;
  stroke-width: .7px;
  fill: none;
}

.svg-icons {
  display: none;
}

/* end main */

/* start footer */
footer {
  background-attachment: fixed;
  background-image: url("city.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(var(--grey-color-rgb), 1);
  mix-blend-mode: multiply;
  color: white;
  display: grid;
  grid-template-rows: 4em 2em 1fr;
  place-items: center;
  height: 30em;
}

footer span, h2 {
  font-family: var(--title-light-font);
}

footer h2 {
  font-size: 2.5rem;
}

footer span {
  font-size: 1.4rem;
}

.footer-contact {
  display: grid;
  grid-template-columns: 1fr .7fr;
  width: 100%;
  grid-template-rows: 1fr;
  height: 100%;
  padding-top: 3em;
}

form {
  padding: 0 7em;
  position: relative;
  height: max-content;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.submit-button {
  position: absolute;
  width: 8em;
  height: 3em;
  left: 100%;
  bottom: 1em;
  font-family: var(--title-bold-font);
  font-size: 1.2rem;
  background: rgba(0, 0, 0, .5);
  color: white;
  border: none;
}

.submit-button:hover {
  color: rgba(var(--red-text-rgb), .8); 
  transition: color 250ms cubic-bezier(.215,.61,.355,1);
}

.floating-label {
  color: rgba(255, 255, 255, .8);
  font-family: var(--title-light-font);
  font-size: 1rem;
  line-height: 1.5;
  position: absolute;
  top: .8em;
  left: 1em;
  transition: .1s ease;
  cursor: text;
}

.floating-label.top-label{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--subtitle-font);
  font-size: 1.1rem;
  right: 0;
  left: auto;
  top: -1em;
  padding-left: .5em;
}

.input {
  color: white;
  background: rgba(0, 0, 0, .5);
  margin-bottom: 2em;
  height: 3rem;
  width: 100%;
  border: none;
}
.input:focus {
  outline: none;
  border-bottom: 1.7px solid white;
}
.submit-button:focus {
  outline: none;
  border: 1px solid white;
}
.input-textarea {
  border: none;
  font-size: 1.2rem;
  width: 100%;
  height: 10em;
  background: rgba(0, 0, 0, .5);
  color: white;
}

.input-textarea:focus {
  outline: 1px solid rgba(255, 255, 255, .8);
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11em;
}

.external-link {
  margin-top: 1em;
  display: block;
  width: 3em;
  height: 3em;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  padding-top: .6em;
}


/* end footer */

/* helper styles */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
