:root {
  --title-font: titillium;
  --body-font: PT Sans;
  --studio-font: Architects Daughter;
  --subtitle-font: bebas;
  --bg-color: #2a2a2a;
  --black-color: #333333;
  --grey-color-rgb: 52, 52, 52;
  --black-color-rgb: 51, 51, 51;
  --red-text-color: #de5e60;
  --red-text-rgb: 222, 94, 96;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: titillium;
  src: url(TitilliumText25L004.otf);
}
@font-face {
  font-family: titillium;
  font-weight: light;
  src: url(TitilliumText25L005.otf);
}

@font-face {
  font-family: titillium;
  font-weight: bold;
  src: url(TitilliumText25L001.otf);
}

@font-face {
  font-family: bebas;
  src: url(BebasNeue\ Regular.otf);
}
@font-face {
  font-family: bebas;
  font-weight: bold;
  src: url(BebasNeue\ Bold.otf);
}

html {
  width:100%;
  min-width:100%
}

body {
  font-family: var(--body-font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  max-height: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: calc(18px + 0.25vw);
  line-height: calc(1.5em + 0.2vw);
  display:block;
}

/* start general container */

.yesm-container {
  max-height: 100%;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 3em 1fr auto;
}

/* end general container */

/* start header */

.header {
  display: grid;
  grid-template-areas: "main-link . nav";
  grid-template-columns: 1fr auto;
  background-color: black; 
  position: relative;
}


@media(max-width: 600px) {
.header {
  grid-template-areas: "nav";
  grid-template-columns: 1fr;
  }
}

.title-header {
  position: absolute;
  top: .3em;
  left: .5em;
  color: white;
  font-variant: small-caps;
  font-family: var(--title-font);
  font-weight: bold;
}
@media(max-width: 600px) {
.title-header {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  }
}

.title-header .big {
  font-size: 1.6rem;
}
.title-header .small {
  font-size: 1.2rem;
}

.title-header .sub {
  top: .8em;
  left: 2em;
  font-size: 1.2rem;
  position: absolute;
}
.top-nav-link {
  position: relative;
}

.top-nav-link:link {
  color: white;
  text-decoration: none;
  transition: all 250ms cubic-bezier(.215,.61,.355,1);
}

.top-nav-link:visited {
  color: rgba(180, 180, 180, 1);
}

.top-nav-link:hover {
  color: rgba(var(--red-text-rgb), .8);
  font-weight: 600;
}

.top-nav-link:active, .top-nav-button:active {
  font-weight: bolder;
  top: 3px;
  color: rgba(var(--red-text-rgb), 1);
}

.top-nav-link:focus {
  outline: none;
  border-style: solid;
  border-color: rgba(255, 255, 255, .7);
  border-size: 1px;
  border-width: 1px;
  height: 100%;
}

.current {
  pointer-events: none;
  cursor: default;
  color: var(--red-text-color) !important;
  font-weight: 600;
}

.top-nav-button {
  background-color: inherit;
  border: none;
  position: relative;
  color: white;
  font-family: var(--body-font);
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 .2em;
  transition: all 250ms cubic-bezier(.215,.61,.355,1);
}
@media(max-width: 420px) {
.top-nav-button {
  font-size: 1rem;
}
}

.top-nav-button:focus {
  outline: none;
  border-style: solid;
  border-color: rgba(255, 255, 255, .7);
  border-size: 1px;
  border-width: 1px;
  height: 100%;
}

.top-nav-button:hover {
  color: rgba(var(--red-text-rgb), .8);
  font-weight: 600;
  transform: translateY(1px);
}

.top-nav {
  display: flex;
  align-items: center;
  grid-area: nav;
  padding-left: 1.5em;
}

@media(max-width: 420px) {
.top-nav {
  padding-left: .7em;
}
}

.top-nav-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-nav-li {
  padding-right: 1.5em;
  list-style-type: none;
  font-family: var(--body-font);
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
}

@media(max-width: 420px) {
.top-nav-li {
  font-size: 1rem;
  padding-right: .7em;
}
}


/* end header */

/* start skip-title */

.skip-title {
  background-color: var(--bg-color);
  display: grid;
  grid-template-areas: "button1 . button2";
  grid-template-columns: 1fr;
}

.skip-title-button.button1 {
  grid-area: button1;
}

.skip-title-button.button2 {
  grid-area: button2;
}

.skip-title-button {
  cursor: pointer;
  transform: rotate(90deg);
  color: white;
  font-size: 1.2em;
  background-color: black;
  border: none;
  width: 2em;
  height: 2em;
  font-family: var(--title-font);
  transition: color 250ms cubic-bezier(.215,.61,.355,1);
}

.skip-title-button:hover {
  color: var(--red-text-color);
}

.skip-title-button:focus {
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-size: 1px;
}

.skip-title-button:active {
  outline: none;
  border-style: solid;
  border-color: var(--red-text-color);
  border-size: 1px;
}

/* end skip-title */

/* start title */
.title-wrapper {
  position: relative;
  height: calc(100vh - 3em);
  width: 100vw;
  display: grid;
  background-image: url("city.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
  mix-blend-mode: multiply;
}

.title-svg {   
  width: 50%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media(max-width: 800px) {
.title-svg {   
  width: 70%;
  }
}
@media(max-width: 600px) {
.title-svg {   
  width: 80%;
  }
}
@media(max-width: 400px) {
.title-svg {   
  width: 90%;
  }
}

.title {
  font-family: var(--title-font);
  fill: white;
  stroke: white;
  stroke-width: .4px;
}
.big {
  font-size: 8px;
}
.small {
  font-size: 7px;
}

.subtitle {
  --red: #ee4342;
  font-family: var(--subtitle-font);
  font-weight: bold;
  fill: var(--red);
  letter-spacing: .1px;
  font-size: 5px;
}

.shadow {
  --grey: #343434;
  fill: var(--grey);
  stroke: var(--grey);
  stroke-width: .5px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* end title */

/* start main */

main {
  padding: 2em 0;
  display: grid;
  grid-row-gap: 1.5em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  margin: 0 2em;
}
@media(max-width: 900px) {
main {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  }
}
@media(max-width: 700px) {
main {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-row-gap: 1.5em;
  margin: 0 3em;
  }
}
@media(max-width: 600px) {
main {
  margin: 0 1.5em;
  }
}
@media(max-width: 500px) {
main {
  margin: 0 .5em;
  }
}
@media(max-width: 366px) {
main {
  margin: 0;
}
}

main section {
  display: grid;
  grid-template-columns: 3.3em auto;
  grid-template-rows: 1fr; 
  padding: 0 .4em;
}
@media(max-width: 450px) {
main section {
  grid-template-columns: 2.9em auto;
}
}
@media(max-width: 386px) {
main section {
  grid-template-columns: 2em auto;
}
}

.section-text-wrapper {
  font-size: 1.1rem;
  color: rgba(var(--black-color-rgb), .8);
  margin-top: .6em;
}
main section h2 {
  color: rgba(var(--black-color-rgb), .85);
}

.section-subhead {
  display: block;
  text-transform: uppercase;
  letter-spacing: -.5px;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
}

.section-icon {
  --grey: #686a6d;
  stroke: none;
  fill: var(--grey);
  transition: fill 250ms cubic-bezier(.215,.61,.355,1);
}

.section-icon:hover {
  fill:var(--red-text-color);
}

.heading-icon {
  align-self: start;
  width: 2.8em;
  margin-top: -2.5em;
  height: auto;
  pointer-events: fill;
  cursor: pointer;
}

@media(max-width: 450px) {
.heading-icon {
  width: 2.3em;
  margin-top: -2.8em;
}
}
@media(max-width: 386px) {
.heading-icon {
  width: 1.8em;
  margin-top: -3.2em;
}
}
.icon-internals {
  stroke: black;
  stroke-width: 1px;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: square;
}

.icon-details {
  stroke: black;
  stroke-width: .7px;
  fill: none;
}

.svg-icons {
  display: none;
}

/* end main */

/* start footer */
footer {
  background-attachment: fixed;
  background-image: url("city.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgba(var(--grey-color-rgb), .8);

  mix-blend-mode: multiply;

  color: white;
  display: grid;
  grid-template-rows: 4em 2em auto 3em 8em;
  place-items: center;
  justify-items: center;
  align-items: center;
  height: 100%;
}


footer nav {
  margin-top: 1em;
  margin-left: 1em;
  color: white;
  font-family: var(--title-font);
  font-weight: bold;
  text-transform: uppercase;
}


footer nav li {
  font-size: 1.3rem;
}
@media(max-width: 450px) {
footer nav li {
  font-size: 1.1rem;
}
}


footer ul {

  list-style-type: none;
}

footer span, h2 {
  font-family: var(--title-font);
  font-weight: lighter;
}

footer h2 {
  font-size: 2.5rem;
}

footer h3 {
  font-family: var(--title-font);
  font-weight: lighter;
  justify-self: start;
  padding-left: 1em;
}


footer span {
  font-size: 1.4rem;
}
@media(max-width: 450px) {
footer span {
  font-size: 1.2rem;
}
}

@media(max-width: 360px) {
footer span {
  font-size: 1.05rem;
}
}

footer .current {
  font-weight: bold;
}

.footer-contact {
  display: grid;
  grid-template-columns: 1fr .5fr;
  width: 100%;
  grid-template-rows: 1fr;
  height: auto;
  padding-top: 3em;
}
@media(max-width: 650px) {
.footer-contact {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .5fr;
  grid-row-gap: 5em;
}
}

form {
  padding: 0 5em;
  position: relative;
  height: auto;
}

@media(max-width: 900px) {
  form {
    padding: 0 2em;
  }
}

@media(max-width: 650px) {
  form {
    padding: 0 3em;
  }
}

@media(max-width: 500px) {
  form {
    padding: 0 1.5em;
  }
}


.input-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.floating-label {
  color: rgba(255, 255, 255, .8);
  font-family: var(--title-font);
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5;
  position: absolute;
  top: .8em;
  left: 1em;
  transition: .1s ease;
  cursor: text;
}

.floating-label.top-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--subtitle-font);
  font-weight: bold;
  font-size: 1.1rem;
  right: 0;
  left: auto;
  top: -1em;
  padding-left: .5em;
}

.input {
  font-size: 1.2rem;
  border-radius: 4px;
  color: white;
  background: rgba(var(--black-color-rgb), 1);
  margin-bottom: 1em;
  height: 3.5rem;
  width: 100%;
  border: none;
}

.input:focus {
  outline: none;
  border-bottom: 1.7px solid white;
}

.input-textarea {
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
  width: 100%;
  height: 10em;
  background: rgba(var(--black-color-rgb), 1);
  color: white;
}

.input-textarea:focus {
  outline: 1px solid rgba(255, 255, 255, .8);
}


/* submit button start */
.submit-button {
  border-radius: 4px;
  position: absolute;
  width: 8em;
  height: 3em;
  left: 100%;
  bottom: .5em;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 1.2rem;
  background: rgba(var(--black-color-rgb), 1);
  color: white;
  border: none;
  transition: all 250ms cubic-bezier(.215,.61,.355,1);
}
@media(max-width: 650px) {
.submit-button {
  left: unset;
  bottom: unset; 
  margin-top: .6em;
}
}

.submit-button:hover {
  color: rgba(var(--red-text-rgb), .8); 
  transform: translateY(1px);
}

.submit-button:active {
  color: rgba(var(--red-text-rgb), 1); 
  transform: translate(2px, 2px);
}
.submit-button:focus {
  outline: none;
  border: 1px solid white;
}

/* submit button end */
/* contact info */

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11em;
}
@media(max-width: 650px) {
.contact-info {
  align-items: center;
}
}

.external-link {
  font-family: var(--title-font);
  font-weight: bold;
  text-decoration: none;
  margin-top: 1em;
  display: block;
  width: 2em;
  border-radius: 4px;
  height: 2em;
  font-size: 2.5rem;
  background-color: rgba(var(--black-color-rgb), 1);
  text-align: center;
  padding-top: .6em;
  color: rgba(255, 255, 255, .7);
  transition: all 250ms cubic-bezier(.215,.61,.355,1);
  position: relative;
}

.external-link:hover {
  transform: translateY(1px);
  color: var(--red-text-color);
}

.external-link:active {
  top: 3px;
}

.external-link:focus {
  outline: none;
  border-style: solid;
  border-color: rgba(255, 255, 255, .7);
  border-size: 1px;
  border-width: 1px;
}

.email-link {
  color: #f17778;
  font-size: 1.2rem;
  font-family: var(--title-font);
  font-weight: lighter;
  text-decoration: none;
}

.email-link:hover {
  font-weight: bold;
}

.tel-link {
  text-decoration: none;
  font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-variant-numeric: oldstyle-nums;
  color: rgba(255, 255, 255, .6);
}

.tel-link:hover {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: -1px;
  transition: all 500ms cubic-bezier(.215,.61,.355,1);
}

/* end contact info */

.faq-link:link {
  color: rgba(241, 119, 120, 1);
  text-decoration: none; 
}

.faq-link:visited {
  color: #f18a8ba3;
}

.faq-link:hover, .faq-link:active {
  font-weight: bold;
  letter-spacing: 2px;
}

.footer-bottom-wrapper {
  background-color: rgba(167, 60, 63, 1);
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr 6em;
  grid-template-rows: 1fr;
}

.ripe-member {
  width: 180%;
  height: 100%;
  margin: 0 0 0 -7em;
  fill: white;
}
@media(max-width: 700px) {
.ripe-member {
  width: 140%;
  margin: 0 0 0 -3.3em;
}
}

@media(max-width: 500px) {
.ripe-member {
  width: 120%;
  margin: 0 0 0 -2.5em;
}
}

.yesm-is-ripe-member {
  font-size: 80px;
  font-weight: bold;
}


/* copyright start */

.yesm-studio-text {
  font-family: var(--studio-font);
  font-size: 2px;
  fill: white;
}

.yesm-studio {
  width: 5em;
  height: auto;
  margin-bottom: -.5em;
  margin-left: .2em;
}
.copyright {
  width: 60%;
  justify-self: end;
  align-self: end;
}

@media(max-width: 500px) {
.copyright {
  width: 80%;
}
}
@media(max-width: 450px) {
.copyright {
  width: 100%;
}
}
@media(max-width: 400px) {
.copyright {
  width: 110%;
}
}
@media(max-width: 380px) {
.copyright {
  width: 120%;
}
}
@media(max-width: 380px) {
.copyright {
  justify-self: unset;
  width: 130%;
}
}
@media(max-width: 350px) {
.copyright {
  width: 140%;
}
}
@media(max-width: 340px) {
.copyright {
  width: 150%;
}
}

.copyright span {
  font-size: 1rem;
  padding-bottom: .5em;
  display: inline-block;
}
/* copyright end */

/* end footer */

/* helper styles */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
